<template>
  <section>
    
    <b-table
      :data="data"
      :debounce-search="500"
      :loading="loading"
      :paginated="isPaginated"
      backend-pagination
      :total="total"
      :per-page="perPage"
      ref="table"
      :narrowed="isNarrowed"
      :striped="isStriped"
      @page-change="onPageChange"
      aria-next-label="Next page"
      aria-previous-label="Previous page"
      aria-page-label="Page"
      aria-current-label="Current page"
      backend-sorting
      :default-sort-direction="defaultSortOrder"
      :default-sort="[sortField, sortOrder]"
      @sort="onSort"
    >
      <b-table-column field="id" label="ID" searchable sortable v-slot="props">
        <a @click="toggle(props.row)">
          {{ props.row.id }}
        </a>
      </b-table-column>
      <b-table-column field="title" label="Title" searchable sortable v-slot="props">
        <a @click="toggle(props.row)">
          {{ props.row.title }}
        </a>
      </b-table-column>
      <b-table-column field="content" label="Content" searchable sortable v-slot="props">
        <a @click="toggle(props.row)">
          {{ props.row.content }}
        </a>
      </b-table-column>
      <b-table-column field="startDate" label="Start Date" searchable sortable v-slot="props">
        <a @click="toggle(props.row)">
          {{ props.row.startDate }}
        </a>
      </b-table-column>
      <b-table-column field="endDate" label="End Date" searchable sortable v-slot="props">
        <a @click="toggle(props.row)">
          {{ props.row.endDate }}
        </a>
      </b-table-column>
      <b-table-column field="active" label="Status" searchable sortable v-slot="props">
        <a @click="toggle(props.row)">
          {{ props.row.active }}
        </a>
      </b-table-column>
      <b-table-column field="id" label="Action" sortable v-slot="props">
        <div class="buttons">
          <b-button rounded tag="a" :href="'/edit/' + props.row.id" size="is-small" type="is-success" >
            <b-icon icon="pen" size="is-small"></b-icon>
          </b-button>

          <b-button rounded @click="deleteEntry(props.row.id)" size="is-small" type="is-danger" >
            <b-icon icon="delete" size="is-small"></b-icon>
          </b-button>
        </div>
      </b-table-column>
      
    </b-table>
  </section>
</template>

<script>
import { SnackbarProgrammatic as Snackbar } from "buefy";

export default {
  data() {
    return {
      data: [],
      isStriped: true,
      isNarrowed: true,
      total: 0,
      loading: false,
      sortField: "id",
      sortOrder: "desc",
      defaultSortOrder: "desc",
      page: 1,
      perPage: 10,
      isPaginated: true,
      isPaginationSimple: false,
      defaultOpenedDetails: [],
      showDetailIcon: true,
    };
  },
  methods: {
    viewEntry(id) {
      this.router.push({
        path: `/announcement/${id}`,
      });
    },
    deleteEntry(id) {
      if (confirm("Delete this entry?")) {
        axios
          .delete("/api/announcement/" + id, {
            headers: {
              Authorization: "Bearer " + this.auth_user.api_token,
            },
          })
          .then((response) => {
            Snackbar.open("Entry successfuly deleted");
            this.getEntries();
          })
          .catch((error) => {
            console.log("Error", error);
          });
      }
    },
    toggle(row) {
      this.$refs.table.toggleDetails(row);
    },
    getEntries() {
      const params = [
        `sort_by=${this.sortField}.${this.sortOrder}`,
        `per_page=${this.perPage}`,
        `page=${this.page}`,
      ].join("&");
      this.loading = true;

      axios
        .get(`/api/announcements?${params}`, {
          headers: {
            Authorization: "Bearer " + this.auth_user.api_token,
          },
        })
        .then(({ data }) => {
        console.log(data);
          // api.themoviedb.org manage max 1000 pages
          this.data = [];
          let currentTotal = data.total;
          if (data.total / this.perPage > 1000) {
            currentTotal = this.perPage * 1000;
          }
          this.total = currentTotal;
          data.data.forEach((item) => {
            this.data.push(item);
          });
          this.loading = false;
        })
        .catch((error) => {
          this.data = [];
          this.total = 0;
          this.loading = false;
          throw error;
        });
    },
    onPageChange(page) {
      this.page = page;
      this.getEntries();
    },
    onSort(field, order) {
      this.sortField = field;
      this.sortOrder = order;
      this.getEntries();
    },
    type(value) {
      const number = parseFloat(value);
      if (number < 6) {
        return "is-danger";
      } else if (number >= 6 && number < 8) {
        return "is-warning";
      } else if (number >= 8) {
        return "is-success";
      }
    },
  },
  filters: {
    /**
     * Filter to truncate string, accepts a length parameter
     */
    truncate(value, length) {
      return value.length > length ? value.substr(0, length) + "..." : value;
    },
  },
  mounted() {
    this.getEntries();
  },
  props: ["auth_user"],
  created() {},
};
</script>
