<template>
  <section>
    <div>
      <div id="map">
        <input v-model="fields.longitude" placeholder="Longitude">
        <input v-model="fields.latitude" placeholder="Latitude">
        <b-button class="pb-2" tag="a" type="is-info" size="sm" @click="searchMap">Search</b-button>
        <br/><br/>
        <iframe
            :src="mapDetails.link"
            width="100%"
            height="400"
            frameborder="0" >
           </iframe>
      </div>
    </div>
  </section>
</template>

<script>
import { SnackbarProgrammatic as Snackbar } from "buefy";

export default {
  name:'Map',
  data() {
    return {
      map:null,
      mapCenter:{lat:45.327168, lng: 14.442902},
      mapDetails: {},
      fields: {},
    };
  },
  methods: {
    initMap() {
      axios
        .get(`/api/maps`, {
          headers: {
            Authorization: "Bearer " + this.auth_user.api_token,
          },
        })
        .then(({ data }) => {
          // api.themoviedb.org manage max 1000 pages
          this.data = [];
          this.mapDetails = data;
          console.log(this.mapDetails);
        })
        .catch((error) => {
          this.data = [];
          this.total = 0;
          throw error;
        });
    },
    searchMap() {
    console.log(this.fields);
      const params = [
        `lat=`+this.fields.latitude,
        `lng=`+this.fields.longitude,
      ].join("&");
      axios
        .get(`/api/input?${params}`, {
          headers: {
            Authorization: "Bearer " + this.auth_user.api_token,
          },
        })
        .then(({ data }) => {
          // api.themoviedb.org manage max 1000 pages
          this.data = [];
          this.mapDetails = data;
          console.log(this.mapDetails);
        })
        .catch((error) => {
          this.data = [];
          this.total = 0;
          throw error;
        });
    },
    initMap2(){
      this.map = google.maps.Map(document.getElementById('map'),{
        center: this.mapCenter, // the center of the map
        zoom: true, // the map is zoomable or not
        maxZoom: 20, // zoom range from min-max
        minZoom: 3,
      })
    }
  },
  filters: {
    /**
     * Filter to truncate string, accepts a length parameter
     */
    truncate(value, length) {
      return value.length > length ? value.substr(0, length) + "..." : value;
    },
  },
  mounted() {
    this.initMap();
  },
  props: ["auth_user"],
  created() {},
};
</script>
